{
  "swagger": "2.0",
  "info": {
    "description": "This is a Swagger doc for Sellsy REST API.",
    "version": "1.0.0",
    "title": "Sellsy REST",
    "termsOfService": "",
    "contact": {
      "email": "info@sellsy.com"
    }
  },
  "host": "api.sellsy.com",
  "basePath": "/",
  "tags": [
    {
      "name": "Infos",
      "description": "Methods for managing Infos API endpoints",
      "externalDocs": {
        "description": "",
        "url": "https://api.sellsy.com/documentation/methodes"
      }
    },
    {
      "name": "Accountdatas",
      "description": "Methods for managing Accountdatas API endpoints",
      "externalDocs": {
        "description": "",
        "url": "https://api.sellsy.com/documentation/methodes"
      }
    },
    {
      "name": "",
      "description": "Methods for managing  API endpoints",
      "externalDocs": {
        "description": "",
        "url": "https://api.sellsy.com/documentation/methodes"
      }
    },
    {
      "name": "AccountingJournal",
      "description": "Methods for managing AccountingJournal API endpoints",
      "externalDocs": {
        "description": "",
        "url": "https://api.sellsy.com/documentation/methodes"
      }
    },
    {
      "name": "AccountPrefs",
      "description": "Methods for managing AccountPrefs API endpoints",
      "externalDocs": {
        "description": "",
        "url": "https://api.sellsy.com/documentation/methodes"
      }
    },
    {
      "name": "Purchase",
      "description": "Methods for managing Purchase API endpoints",
      "externalDocs": {
        "description": "",
        "url": "https://api.sellsy.com/documentation/methodes"
      }
    },
    {
      "name": "Addresses",
      "description": "Methods for managing Addresses API endpoints",
      "externalDocs": {
        "description": "",
        "url": "https://api.sellsy.com/documentation/methodes"
      }
    },
    {
      "name": "Agenda",
      "description": "Methods for managing Agenda API endpoints",
      "externalDocs": {
        "description": "",
        "url": "https://api.sellsy.com/documentation/methodes"
      }
    },
    {
      "name": "Annotations",
      "description": "Methods for managing Annotations API endpoints",
      "externalDocs": {
        "description": "",
        "url": "https://api.sellsy.com/documentation/methodes"
      }
    },
    {
      "name": "BankAccount",
      "description": "Methods for managing BankAccount API endpoints",
      "externalDocs": {
        "description": "",
        "url": "https://api.sellsy.com/documentation/methodes"
      }
    },
    {
      "name": "BankDeposit",
      "description": "Methods for managing BankDeposit API endpoints",
      "externalDocs": {
        "description": "",
        "url": "https://api.sellsy.com/documentation/methodes"
      }
    },
    {
      "name": "Catalogue",
      "description": "Methods for managing Catalogue API endpoints",
      "externalDocs": {
        "description": "",
        "url": "https://api.sellsy.com/documentation/methodes"
      }
    },
    {
      "name": "CustomFields",
      "description": "Methods for managing CustomFields API endpoints",
      "externalDocs": {
        "description": "",
        "url": "https://api.sellsy.com/documentation/methodes"
      }
    },
    {
      "name": "Client",
      "description": "Methods for managing Client API endpoints",
      "externalDocs": {
        "description": "",
        "url": "https://api.sellsy.com/documentation/methodes"
      }
    },
    {
      "name": "Staffs",
      "description": "Methods for managing Staffs API endpoints",
      "externalDocs": {
        "description": "",
        "url": "https://api.sellsy.com/documentation/methodes"
      }
    },
    {
      "name": "Accounting",
      "description": "Methods for managing Accounting API endpoints",
      "externalDocs": {
        "description": "",
        "url": "https://api.sellsy.com/documentation/methodes"
      }
    },
    {
      "name": "Peoples",
      "description": "Methods for managing Peoples API endpoints",
      "externalDocs": {
        "description": "",
        "url": "https://api.sellsy.com/documentation/methodes"
      }
    },
    {
      "name": "Document",
      "description": "Methods for managing Document API endpoints",
      "externalDocs": {
        "description": "",
        "url": "https://api.sellsy.com/documentation/methodes"
      }
    },
    {
      "name": "DocRows",
      "description": "Methods for managing DocRows API endpoints",
      "externalDocs": {
        "description": "",
        "url": "https://api.sellsy.com/documentation/methodes"
      }
    },
    {
      "name": "Mails",
      "description": "Methods for managing Mails API endpoints",
      "externalDocs": {
        "description": "",
        "url": "https://api.sellsy.com/documentation/methodes"
      }
    },
    {
      "name": "Event",
      "description": "Methods for managing Event API endpoints",
      "externalDocs": {
        "description": "",
        "url": "https://api.sellsy.com/documentation/methodes"
      }
    },
    {
      "name": "Expense",
      "description": "Methods for managing Expense API endpoints",
      "externalDocs": {
        "description": "",
        "url": "https://api.sellsy.com/documentation/methodes"
      }
    },
    {
      "name": "ListingSetting",
      "description": "Methods for managing ListingSetting API endpoints",
      "externalDocs": {
        "description": "",
        "url": "https://api.sellsy.com/documentation/methodes"
      }
    },
    {
      "name": "Marketing",
      "description": "Methods for managing Marketing API endpoints",
      "externalDocs": {
        "description": "",
        "url": "https://api.sellsy.com/documentation/methodes"
      }
    },
    {
      "name": "Opportunities",
      "description": "Methods for managing Opportunities API endpoints",
      "externalDocs": {
        "description": "",
        "url": "https://api.sellsy.com/documentation/methodes"
      }
    },
    {
      "name": "Payments",
      "description": "Methods for managing Payments API endpoints",
      "externalDocs": {
        "description": "",
        "url": "https://api.sellsy.com/documentation/methodes"
      }
    },
    {
      "name": "Prospects",
      "description": "Methods for managing Prospects API endpoints",
      "externalDocs": {
        "description": "",
        "url": "https://api.sellsy.com/documentation/methodes"
      }
    },
    {
      "name": "Stat",
      "description": "Methods for managing Stat API endpoints",
      "externalDocs": {
        "description": "",
        "url": "https://api.sellsy.com/documentation/methodes"
      }
    },
    {
      "name": "Stock",
      "description": "Methods for managing Stock API endpoints",
      "externalDocs": {
        "description": "",
        "url": "https://api.sellsy.com/documentation/methodes"
      }
    },
    {
      "name": "Support",
      "description": "Methods for managing Support API endpoints",
      "externalDocs": {
        "description": "",
        "url": "https://api.sellsy.com/documentation/methodes"
      }
    },
    {
      "name": "SmartTags",
      "description": "Methods for managing SmartTags API endpoints",
      "externalDocs": {
        "description": "",
        "url": "https://api.sellsy.com/documentation/methodes"
      }
    },
    {
      "name": "POSCashtill",
      "description": "Methods for managing POSCashtill API endpoints",
      "externalDocs": {
        "description": "",
        "url": "https://api.sellsy.com/documentation/methodes"
      }
    },
    {
      "name": "POSReceipt",
      "description": "Methods for managing POSReceipt API endpoints",
      "externalDocs": {
        "description": "",
        "url": "https://api.sellsy.com/documentation/methodes"
      }
    },
    {
      "name": "POSMove",
      "description": "Methods for managing POSMove API endpoints",
      "externalDocs": {
        "description": "",
        "url": "https://api.sellsy.com/documentation/methodes"
      }
    },
    {
      "name": "Tracking",
      "description": "Methods for managing Tracking API endpoints",
      "externalDocs": {
        "description": "",
        "url": "https://api.sellsy.com/documentation/methodes"
      }
    },
    {
      "name": "Timetracking",
      "description": "Methods for managing Timetracking API endpoints",
      "externalDocs": {
        "description": "",
        "url": "https://api.sellsy.com/documentation/methodes"
      }
    },
    {
      "name": "Briefcases",
      "description": "Methods for managing Briefcases API endpoints",
      "externalDocs": {
        "description": "",
        "url": "https://api.sellsy.com/documentation/methodes"
      }
    },

  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/Infos.getInfos": {
      "post": {
        "tags": [
          "Infos"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [

        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/InfosGetInfosResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Accountdatas.getTaxes": {
      "post": {
        "tags": [
          "Accountdatas"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountdatasGetTaxesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountdatasGetTaxesResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Accountdatas.getTaxe": {
      "post": {
        "tags": [
          "Accountdatas"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountdatasGetTaxeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountdatasGetTaxeResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Accountdatas.createTaxe": {
      "post": {
        "tags": [
          "Accountdatas"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountdatasCreateTaxeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountdatasCreateTaxeResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Accountdatas.updateTaxe": {
      "post": {
        "tags": [
          "Accountdatas"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountdatasUpdateTaxeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountdatasUpdateTaxeResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Accountdatas.deleteTaxe": {
      "post": {
        "tags": [
          "Accountdatas"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountdatasDeleteTaxeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountdatasDeleteTaxeResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Accountdatas.getUnits": {
      "post": {
        "tags": [
          "Accountdatas"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [

        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountdatasGetUnitsResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Accountdatas.getUnit": {
      "post": {
        "tags": [
          "Accountdatas"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountdatasGetUnitRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountdatasGetUnitResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Accountdatas.createUnit": {
      "post": {
        "tags": [
          "Accountdatas"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountdatasCreateUnitRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountdatasCreateUnitResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Accountdatas.createUnities": {
      "post": {
        "tags": [
          "Accountdatas"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountdatasCreateUnitiesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountdatasCreateUnitiesResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Accountdatas.createPayMediums": {
      "post": {
        "tags": [
          "Accountdatas"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountdatasCreatePayMediumsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountdatasCreatePayMediumsResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Accountdatas.createTaxes": {
      "post": {
        "tags": [
          "Accountdatas"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountdatasCreateTaxesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountdatasCreateTaxesResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Accountdatas.updateTaxes": {
      "post": {
        "tags": [
          "Accountdatas"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountdatasUpdateTaxesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountdatasUpdateTaxesResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Accountdatas.updateShippings": {
      "post": {
        "tags": [
          "Accountdatas"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountdatasUpdateShippingsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountdatasUpdateShippingsResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Accountdatas.createShippings": {
      "post": {
        "tags": [
          "Accountdatas"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountdatasCreateShippingsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountdatasCreateShippingsResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Accountdatas.updatePackagings": {
      "post": {
        "tags": [
          "Accountdatas"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountdatasUpdatePackagingsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountdatasUpdatePackagingsResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Accountdatas.createPackagings": {
      "post": {
        "tags": [
          "Accountdatas"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountdatasCreatePackagingsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountdatasCreatePackagingsResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Accountdatas.updateUnit": {
      "post": {
        "tags": [
          "Accountdatas"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountdatasUpdateUnitRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountdatasUpdateUnitResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Accountdatas.updatePayMediums": {
      "post": {
        "tags": [
          "Accountdatas"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountdatasUpdatePayMediumsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountdatasUpdatePayMediumsResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Accountdatas.updateUnities": {
      "post": {
        "tags": [
          "Accountdatas"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountdatasUpdateUnitiesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountdatasUpdateUnitiesResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/": {
      "post": {
        "tags": [
          ""
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [

        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Accountdatas.getPackagingList": {
      "post": {
        "tags": [
          "Accountdatas"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [

        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountdatasGetPackagingListResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Accountdatas.getPackaging": {
      "post": {
        "tags": [
          "Accountdatas"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountdatasGetPackagingRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountdatasGetPackagingResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Accountdatas.recordPackaging": {
      "post": {
        "tags": [
          "Accountdatas"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountdatasRecordPackagingRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountdatasRecordPackagingResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Accountdatas.deletePackaging": {
      "post": {
        "tags": [
          "Accountdatas"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountdatasDeletePackagingRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountdatasDeletePackagingResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Accountdatas.getShippingList": {
      "post": {
        "tags": [
          "Accountdatas"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [

        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountdatasGetShippingListResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Accountdatas.getShipping": {
      "post": {
        "tags": [
          "Accountdatas"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountdatasGetShippingRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountdatasGetShippingResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Accountdatas.recordShipping": {
      "post": {
        "tags": [
          "Accountdatas"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountdatasRecordShippingRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountdatasRecordShippingResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Accountdatas.deleteShipping": {
      "post": {
        "tags": [
          "Accountdatas"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountdatasDeleteShippingRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountdatasDeleteShippingResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Accountdatas.getPayMediums": {
      "post": {
        "tags": [
          "Accountdatas"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [

        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountdatasGetPayMediumsResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Accountdatas.getPayMedium": {
      "post": {
        "tags": [
          "Accountdatas"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountdatasGetPayMediumRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountdatasGetPayMediumResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Accountdatas.createPayMedium": {
      "post": {
        "tags": [
          "Accountdatas"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountdatasCreatePayMediumRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountdatasCreatePayMediumResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Accountdatas.updatePayMedium": {
      "post": {
        "tags": [
          "Accountdatas"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountdatasUpdatePayMediumRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountdatasUpdatePayMediumResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Accountdatas.deletePayMedium": {
      "post": {
        "tags": [
          "Accountdatas"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountdatasDeletePayMediumRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountdatasDeletePayMediumResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Accountdatas.getRateCategories": {
      "post": {
        "tags": [
          "Accountdatas"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [

        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountdatasGetRateCategoriesResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Accountdatas.getRateCategory": {
      "post": {
        "tags": [
          "Accountdatas"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountdatasGetRateCategoryRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountdatasGetRateCategoryResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Accountdatas.getDocLayouts": {
      "post": {
        "tags": [
          "Accountdatas"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [

        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountdatasGetDocLayoutsResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Accountdatas.getPayDates": {
      "post": {
        "tags": [
          "Accountdatas"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [

        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountdatasGetPayDatesResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Accountdatas.getTranslationLanguages": {
      "post": {
        "tags": [
          "Accountdatas"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [

        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountdatasGetTranslationLanguagesResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/AccountingJournal.getList": {
      "post": {
        "tags": [
          "AccountingJournal"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountingJournalGetListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountingJournalGetListResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/AccountPrefs.getCorpInfos": {
      "post": {
        "tags": [
          "AccountPrefs"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [

        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountPrefsGetCorpInfosResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/AccountPrefs.updateCorpInfos": {
      "post": {
        "tags": [
          "AccountPrefs"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountPrefsUpdateCorpInfosRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountPrefsUpdateCorpInfosResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/AccountPrefs.getAddressList": {
      "post": {
        "tags": [
          "AccountPrefs"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [

        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountPrefsGetAddressListResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/AccountPrefs.getAddress": {
      "post": {
        "tags": [
          "AccountPrefs"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountPrefsGetAddressRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountPrefsGetAddressResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/AccountPrefs.createAddress": {
      "post": {
        "tags": [
          "AccountPrefs"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountPrefsCreateAddressRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountPrefsCreateAddressResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/AccountPrefs.updateAddress": {
      "post": {
        "tags": [
          "AccountPrefs"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountPrefsUpdateAddressRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountPrefsUpdateAddressResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/AccountPrefs.deleteAddress": {
      "post": {
        "tags": [
          "AccountPrefs"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountPrefsDeleteAddressRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountPrefsDeleteAddressResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/AccountPrefs.getStaffInfos": {
      "post": {
        "tags": [
          "AccountPrefs"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [

        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountPrefsGetStaffInfosResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/AccountPrefs.updateStaffInfos": {
      "post": {
        "tags": [
          "AccountPrefs"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountPrefsUpdateStaffInfosRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountPrefsUpdateStaffInfosResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/AccountPrefs.setNumberFormat": {
      "post": {
        "tags": [
          "AccountPrefs"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountPrefsSetNumberFormatRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountPrefsSetNumberFormatResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/AccountPrefs.updateDefaultPayMediums": {
      "post": {
        "tags": [
          "AccountPrefs"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountPrefsUpdateDefaultPayMediumsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountPrefsUpdateDefaultPayMediumsResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/AccountPrefs.getLogoPublicLink": {
      "post": {
        "tags": [
          "AccountPrefs"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [

        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountPrefsGetLogoPublicLinkResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/AccountPrefs.updateLogo": {
      "post": {
        "tags": [
          "AccountPrefs"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountPrefsUpdateLogoRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountPrefsUpdateLogoResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/AccountPrefs.deleteLogo": {
      "post": {
        "tags": [
          "AccountPrefs"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [

        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountPrefsDeleteLogoResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/AccountPrefs.getCurrencies": {
      "post": {
        "tags": [
          "AccountPrefs"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [

        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountPrefsGetCurrenciesResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/AccountPrefs.getCurrency": {
      "post": {
        "tags": [
          "AccountPrefs"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [

        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountPrefsGetCurrencyResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/AccountPrefs.setCurrency": {
      "post": {
        "tags": [
          "AccountPrefs"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountPrefsSetCurrencyRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountPrefsSetCurrencyResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/AccountPrefs.setLanguage": {
      "post": {
        "tags": [
          "AccountPrefs"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountPrefsSetLanguageRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AccountPrefsSetLanguageResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Purchase.getList": {
      "post": {
        "tags": [
          "Purchase"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PurchaseGetListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/PurchaseGetListResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Purchase.getOne": {
      "post": {
        "tags": [
          "Purchase"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PurchaseGetOneRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/PurchaseGetOneResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Purchase.create": {
      "post": {
        "tags": [
          "Purchase"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PurchaseCreateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/PurchaseCreateResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/": {
      "post": {
        "tags": [
          ""
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [

        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Purchase.delete": {
      "post": {
        "tags": [
          "Purchase"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PurchaseDeleteRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/PurchaseDeleteResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Purchase.updateStep": {
      "post": {
        "tags": [
          "Purchase"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PurchaseUpdateStepRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/PurchaseUpdateStepResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Purchase.updateDeliveryStep": {
      "post": {
        "tags": [
          "Purchase"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PurchaseUpdateDeliveryStepRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/PurchaseUpdateDeliveryStepResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Purchase.uploadRelatedFile": {
      "post": {
        "tags": [
          "Purchase"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PurchaseUploadRelatedFileRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/PurchaseUploadRelatedFileResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Purchase.updateOwner": {
      "post": {
        "tags": [
          "Purchase"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PurchaseUpdateOwnerRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/PurchaseUpdateOwnerResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Purchase.getPublicLink": {
      "post": {
        "tags": [
          "Purchase"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PurchaseGetPublicLinkRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/PurchaseGetPublicLinkResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Purchase.getNextIdent": {
      "post": {
        "tags": [
          "Purchase"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PurchaseGetNextIdentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/PurchaseGetNextIdentResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Purchase.getPayments": {
      "post": {
        "tags": [
          "Purchase"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PurchaseGetPaymentsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/PurchaseGetPaymentsResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Purchase.updateSharingGroups": {
      "post": {
        "tags": [
          "Purchase"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PurchaseUpdateSharingGroupsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/PurchaseUpdateSharingGroupsResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Addresses.getList": {
      "post": {
        "tags": [
          "Addresses"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddressesGetListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AddressesGetListResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Addresses.getOne": {
      "post": {
        "tags": [
          "Addresses"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddressesGetOneRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AddressesGetOneResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Addresses.create": {
      "post": {
        "tags": [
          "Addresses"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddressesCreateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AddressesCreateResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Addresses.update": {
      "post": {
        "tags": [
          "Addresses"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddressesUpdateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AddressesUpdateResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Addresses.delete": {
      "post": {
        "tags": [
          "Addresses"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddressesDeleteRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AddressesDeleteResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Agenda.getList": {
      "post": {
        "tags": [
          "Agenda"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AgendaGetListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AgendaGetListResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Agenda.getOne": {
      "post": {
        "tags": [
          "Agenda"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AgendaGetOneRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AgendaGetOneResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Agenda.create": {
      "post": {
        "tags": [
          "Agenda"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AgendaCreateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AgendaCreateResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Agenda.update": {
      "post": {
        "tags": [
          "Agenda"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AgendaUpdateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AgendaUpdateResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Agenda.delete": {
      "post": {
        "tags": [
          "Agenda"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AgendaDeleteRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AgendaDeleteResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Agenda.updateOwner": {
      "post": {
        "tags": [
          "Agenda"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AgendaUpdateOwnerRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AgendaUpdateOwnerResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Agenda.updateStatus": {
      "post": {
        "tags": [
          "Agenda"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AgendaUpdateStatusRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AgendaUpdateStatusResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Agenda.getAvailableRappels": {
      "post": {
        "tags": [
          "Agenda"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [

        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AgendaGetAvailableRappelsResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
            "description": "Error : User has not enought rights"
          },
          "500": {
            "description": "Error : account is disabled"
          }
        }
      }
    },
    "/Agenda.getAvailableLabels": {
      "post": {
        "tags": [
          "Agenda"
        ],
        "summary": "",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [

        ],
        "responses": {
          "200": {
            "description": "Request executed successfully",
            "schema": {
              "$ref": "#/definitions/AgendaGetAvailableLabelsResponse"
            }
          },
          "400": {
            "description": "Error : bad parameters or missing parameters"
          },
          "401": {
            "description": "Error : User is not authenticated"
          },
          "403": {
[...]
